.jobs {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    p {
      margin-bottom: 0.25rem;
    }
  }

  @media only screen and (max-width: 600px) {
    .jobs .MuiGrid-container {
      padding-right: 0;
    }
  }
  
  .MuiGrid-container  .MuiGrid-container.job-block {
    background-color: var(--bg);
    border-radius: 4px;
    height: 100%;
    padding: 2rem;
    padding-bottom: 0;
    margin-top: 1rem;
  }

  @media only screen and (max-width: 600px) {
    .MuiGrid-container .MuiGrid-container.job-block {
      padding-right: 1rem;
      padding-left: 0;
    }
  }
  
  a.employeer p:hover {
    text-decoration: underline;
  }
  
  .job {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .job-header {
    display: flex;
    justify-content: flex-start;
  }
  
  .position {
    margin-right: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1em;
  }
  
  .employeer {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    justify-content: center;
    margin-right: 1em;
    margin-left: 1em;
  }
  
  a.employeer  {
    text-decoration: none;
    color: var(--secondary);
  }
  
  .employer a:hover {
    filter: brightness(2);
    transition: filter 300ms;
  }
  
  /* #job-blurb {
    line-height: 1.5em;
    margin-top: 0;
    .text {
      padding-top: 0;
    }
  }
  
  #job-blurb ul {
    margin: 0;
  } */
  
  .job-skills {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 1em;
    width: 100%;
  }
  
 .logo-container {
    height: 6rem;
    width: fit-content;
    background-color: white;
 }

 .logo-container img {
  max-height: 6rem;
  width: auto;
  object-fit: contain;
}
