@import url('https://fonts.googleapis.com/css?family=Sora&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --corn: #A9C4F5;
  --darkgreen: #095256;
  --cream: #EFF7CF;
  --lightgreen: #BAD9B5;
  --orange: #FF9B42;
}

body {
  margin: 0;
  height: 100vh;
}

.app {
  display: flex;
  flex-flow: column;
  height: 100vh;
  font-family: 'Lato';
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: space-between;
  background-color: white;

}

.icon-links {
  margin-right: 2em;
}

.social-link {
  margin: .5em;
}

.social-link:hover {
  filter: brightness(1.75);
  transition: filter 300ms;
}

.page-container {
  /* display: flex;
  flex-direction: column; */
  background: white;
  margin-top: 12vh;
  /* margin-left: 20%; */
}

.home-btn {
  display: flex;
  transition: filter 300ms;
}

.home-btn p.name:hover {
  font-weight: bold;
}

.home-btn p.name {
  font-family: 'Sora';
  font-size: 2em;
  color: black;
  margin: 0;
  margin-top: 0.75em;
  margin-left: 0.75em;
}

a {
  text-decoration: none;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  margin-right: 10em;
  font-size: 0.85em;
  width: 12em;
  justify-content: center;
}

.navbar-container p {
  color: #283d3d;
  font-size: 1.25em;
  font-weight: bold;
  padding: 0.5em;
  border: none;
  border-radius: 5px;
}

.title {
  display: flex;
  flex-direction: row;
}

.resume {
  color: white;
  font-weight: bold;
  padding: 0.5em;
  border: none;
  border-radius: 5px;
  background-color: grey;
  margin-top: 2em;
}

.navlink:hover {
  background: #3c5c5c;
  color: white;
}

.selected-contents-container {
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
}

.selected-contents-container h1 {
  font-size: 2.5em;
  color: #005555;
}

.selected-contents-container p {
  font-size: 1em;
}

.selected-contents-container .blurb {
  width: 50%;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


#greeting {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: var(--corn);
} 

#greeting .blurb {
  font-size: 2em;
  margin-bottom: 0;
  line-height: 2em;
  margin: 0;
  width: 100%;
  margin-left: 20%;
}

#greeting .hi-there {
  font-size: 4em;
  width: 100%;
  margin-left: 20%;
}

.selfie {
  display: flex;
  width: 30%;
}

.selfie img {
  width: 250px;
}

.jobs {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.job-block {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin: 0.5em;
  margin-bottom: 0;
}

.employeer {
  margin-right: 2em;
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15%;
}

.drop-down {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.position {
  display: flex;
  flex-direction: column;
  font-size: 1.25em;
  justify-content: center;
}

#job-blurb {
  line-height: 1.5em;
  overflow: hidden;
  transition: max-height .2s ease-in;
  height: auto;
  max-height: 200px;
  margin-left: 3.2em;
  margin-bottom: 2em;
  margin-top: 0;
  /* animation: fadeIn 1s; */
}

#job-blurb ul {
  margin: 0;
}


.icon-dd {
  margin-right: 0.75em;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  justify-content: center;
}

.logo {
  margin: auto;
  width: 3em;
  height: 3em;
}
