@import url('https://fonts.googleapis.com/css?family=Agdasima&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');


body {
  margin: 0;
  height: 100vh;
}

.app {
  display: flex;
  flex-flow: column;
  height: 100vh;
  margin: 1.5em;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: space-between;
}

.icon-links {
  margin-right: 2em;
}

.social-link {
  margin: .5em;
}

.social-link:hover {
  filter: brightness(1.75);
  transition: filter 300ms;
}

.page-container {
  display: flex;
  flex-direction: row;
  background: white;
  margin-top: 12vh;
}

.home-btn {
  display: flex;
  transition: filter 300ms;
}

.home-btn p.name:hover {
  font-weight: bold;
}

.home-btn p.name {
  font-family: 'Agdasima';
  font-size: 3em;
  margin: 0px;
  color: black;
}

.home-btn p.desc {
  font-family: 'Inconsolata';
  font-size: 1em;
  margin: 0px;
  margin-top: 0.2em;
  color: grey;
}

a {
  text-decoration: none;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  margin-right: 3em;
  padding: 0.5em;
  font-size: 0.85em;
  width: 12em;
  justify-content: center;
  border-right: 3px solid #ebeded;
  position: fixed;
}

.navbar-container p {
  color: #283d3d;
  font-size: 1.25em;
  font-family: 'Lora';
  font-weight: bold;
  padding: 0.5em;
  border: none;
  border-radius: 5px;
}

.title {
  display: flex;
  flex-direction: row;
}

.resume {
  display: flex;
  color: white;
  font-family: 'Lora';
  font-weight: bold;
  padding: 0.5em;
  border: none;
  border-radius: 5px;
  background-color: grey;
  height: 50%;
  margin-top: 2em;
}

.navlink:hover {
  background: #3c5c5c;
  color: white;
}

.selected-contents-container {
  margin: 2em;
  width: 100%;
  margin-left: 15em;
  height: 100%;
}

.selected-contents-container h1 {
  font-size: 2.5em;
  font-family: 'Lora';
  color: #005555;
}

.selected-contents-container p {
  font-family: 'Lato';
  font-size: 1em;
}

.selected-contents-container .blurb {
  width: 50%;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.selfie {
  display: flex;
  width: 50%;
  justify-content: center;
}

.selfie img {
  width: 250px;
}

.jobs {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.job-block {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  border-radius: 1em;
  overflow: hidden;
  margin: 0.5em;
}

.employeer {
  margin-right: 2em;
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Lato';
  width: 15%;
}

.drop-down {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.position {
  display: flex;
  flex-direction: column;
  font-family: 'Lato';
  font-size: 1.5em;
  justify-content: center;
}

#job-blurb.hide-me {
  max-height: 0;
  overflow: hiden;
  color: white;
  transition: max-height .2s ease-out;
  font-family: 'Lato';
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

#job-blurb.reveal-me {
  font-family: 'Lato';
  line-height: 1.5em;
  overflow: hidden;
  transition: max-height .2s ease-in;
  height: auto;
  max-height: 200px;
  animation: fadeIn 1s;
}


.icon-dd {
  margin-right: 0.75em;
  display: flex;
  flex-direction: column;
  font-family: 'Lato';
  font-size: 1.5em;
  justify-content: center;
}

.logo {
  width: 10%;
}
